<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="types" type="System.Configuration.NameValueSectionHandler"/>
    <section name="instances" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <types>
    <add
      key="Tests.TestDoubles.IInterface, Tests.net40, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"
      value="Tests.TestDoubles.InterfaceImplementation, Tests.net40, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add
      key="System.Collections.Generic.ICollection`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"
      value="System.Collections.Generic.List`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"/>
    <add
      key="System.Collections.Generic.IEnumerable`1, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      value="System.Collections.Generic.List`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"/>
    <add
      key="System.IFormattable, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      value="TestTypes.Class1, TestTypes, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
  </types>
  <instances>
    <add 
      key="myIntList"
      value="System.Collections.Generic.List`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"/>
  </instances>
</configuration>